*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a2e;
}

.heading{
    background-color: #e94560;
    color: #1a1a2e;
    /* max-width: 600px; */
    width: 100%;
    box-shadow: 0 0 15px #e94560;
    margin: 30px auto 0 auto;
    padding: 10px;
    font-size: 20px;
    /* border-radius: 10px; */
}

h1{
    text-align: center;
}

#resumeform{
    max-width: 600px;
    margin: 30px auto 0 auto;
    border: 10px double #e94560;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0px 15px #e94560;
}

legend{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #e94560;
}


label, input{
    display: block;
    margin-top: 5px;
    width: 50%;
}


fieldset{
    padding: 10px;
    margin-top: 20px;
}

input{
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

label{
    margin-top: 10px;
    color: #e94560;
}

textarea{
    width: 100%;
    margin-top: 10px;
}

#edu-section, #exp-section, #skl-section{
    display: none;
}


#btn1, #btn3, #btn4{
    margin-top: 20px;
    padding: 10px;
    background-color: #e95460;
    color: #1a1a2e;
    cursor: pointer;
}

#btn2{
    margin-top: 20px;
    padding: 10px;
    background-color: #e94560;
    color: #1a1a2e;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 500px){
    body{
        padding: 15px;
    }

    legend{
        font-size: 20px;
    }

    .heading{
        font-size: 16px;
    }
}